PORT=8080
MONGODB_URI=mongodb://127.0.0.1:27017/sabana-market
JWT_SECRET=sabana_market_secret
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
MICROSOFT_TENANT_ID=common
MICROSOFT_REDIRECT_URI=http://localhost:5173/
